
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-size-adjust: 50px;
    align-content: center;
}
/*body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}*/

.keyboard1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-left: 300px;
}
/* button {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
} */
.Kbutton {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: .5rem;
}

.Sbutton {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 150px;
    height: 80px;
    border-radius: .5rem;
}

.Dbutton {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 100px;
    height: 80px;
    border-radius: .5rem;
}

.delete,
.shift,
.space {
    font-size: 1rem;
    text-transform: capitalize;
}
.delete { width: 100px; }
.shift { width: 70px; }
.space { width: 350px; }

.textarea1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-content: center;
    padding-left: 300px;
    margin-top: 50px;
}

.app{
    text-align: center;
}

textarea {
    width: 700px;
    height: 150px;
    resize: none;
    padding: .5rem;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: .5rem;
    padding-left: 100px;
}

.azure {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;
    width: 500px;
    height: 80px;
    border-radius: .5rem;
    margin-left: 650px;
    margin-top: 200px;
}

.upper { text-transform: uppercase; }

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: rgb(187, 187, 233);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 15px;
    float: left;
	text-align: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-content1 a {
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    float: left;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content1 a:hover {background-color:rgb(104, 104, 255) ;}
  
  /* Show the dropdown menu on hover */
  //.dropdown1:active .dropdown-content1 {display: block;}

  .dropdownEnable1 {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown1:hover .dropbtn {background-color: #3e8e41;}
