.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  align-items: center;
}

.emergencybuttons {
  background-color: rgb(0, 0, 0);
  border: none;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0.3rem;
  font-size: 1.3rem;
  color: #fff;
  width: 300px;
  height: 80px;
  border-radius: 0.5rem;
  align-items: center;
}

.h1tag {
  color: white;
}

.app {
  padding: 200px 700px;
  text-align: center;
}

.box {
  background-color: rgb(0, 0, 0);
  padding-left: 700px;
  padding: 0px 60px;
  border-radius: 10px;
  height: 420px;
  align-content: center;
  width: 700px;
  margin-left: 200px;
  margin-top: 70px;
}

.selected {
  color: red;
}
.notSelected {
  color: black;
}
.selection {
  color: green;
}
